<% if current_user == @closet.user %>
  <h1>Welcome to your closet, <%= @closet.user.email %></h1>
  <br>
  <b>MyCloset</b> <%= link_to 'add item', new_closet_item_path(@closet) %>
<% else %>
  <h1> Welcome to <%= @closet.user.email %>'s closet </h1>
  <% end %>
<br><br>


<table style="width:100%" id="#myTable" class="tablesorter">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th>Size</th>
      <th>Season</th>
      <th>Bought</th>
      <th>Last worn</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Wore today?</th>

      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @closet_items.each do |closet_item| %>
      <td><%= link_to closet_item.id, items_show_path %></td>
      <td><%= closet_item.item.name %></td>
      <td><%= closet_item.item.designer %></td>
      <td><%= closet_item.qauntity %></td>
      <td><%= closet_item.size %></td>
      <td><%= closet_item.season %></td>
      <td><%= closet_item.bought %></td>
      <td><%= closet_item.last_worn %></td>
      <td><%= closet_item.status %></td>
      <td><%= closet_item.note %></td>

      <td>
        <% if current_user == closet_item.user %>
          <%= link_to 'edit', edit_closet_item_path(@closet, closet_item.item) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<br><br>
